In [1]:
import pandas as pd
from sklearn.feature_extraction.text import TfidfVectorizer
from sklearn.model_selection import train_test_split
from sklearn.metrics import confusion_matrix, classification_report
from sklearn.svm import LinearSVC

In [2]:
data = pd.read_csv("train.csv")
data.columns=["category","text"]
data["cnt"]=data.text.apply(lambda x: len(x.split()))

In [3]:
data.head()

      category                                               text  cnt
0  kultursanat  Belgelemek ve değiştirmek için kamera!  4. Han...  146
1    teknoloji  ﻿  \tE-ticaret alanının yenilikçi bir markası ...  348
2       saglik  ﻿ RADİKAL -  Sağlık çalışanlarına şiddet uygul...  416
3  kultursanat  ﻿  \tDeniz Kuvvetleri Komutanlığı bünyesinde S...  382
4      siyaset  ﻿ RADİKAL -                    CHP            ...  244

In [4]:
data.text = data.text.str.replace("\t","")

In [5]:
data.head()

      category                                               text  cnt
0  kultursanat  Belgelemek ve değiştirmek için kamera!  4. Han...  146
1    teknoloji  ﻿  E-ticaret alanının yenilikçi bir markası ol...  348
2       saglik  ﻿ RADİKAL -  Sağlık çalışanlarına şiddet uygul...  416
3  kultursanat  ﻿  Deniz Kuvvetleri Komutanlığı bünyesinde SAS...  382
4      siyaset  ﻿ RADİKAL -                    CHP            ...  244

In [6]:
data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 2520 entries, 0 to 2519
Data columns (total 3 columns):
category    2520 non-null object
text        2520 non-null object
cnt         2520 non-null int64
dtypes: int64(1), object(2)
memory usage: 59.1+ KB

In [7]:
data.describe(include='all')

,category,text,cnt
count,2520,2520,2520.000000
unique,6,2438,NaN
top,teknoloji,Ansen sizi sinemanın büyülü dünyasına davet ed...,NaN
freq,432,4,NaN
mean,NaN,NaN,248.784127
std,NaN,NaN,237.075071
min,NaN,NaN,4.000000
25%,NaN,NaN,104.000000
50%,NaN,NaN,175.500000
75%,NaN,NaN,317.000000
max,NaN,NaN,2951.000000

In [8]:
print(data.category.values)

['kultursanat' 'teknoloji' 'saglik' ... 'spor' 'saglik' 'ekonomi']

In [9]:
X = data.text
y = data.category

In [10]:
K=3000
print("Performance for the traditional BOW approach with bigrams")
vectorizer = TfidfVectorizer(max_df=0.85, min_df=10, max_features=K, ngram_range=(1,2))
X = vectorizer.fit_transform(data.text)
print("X shape: ",X.shape)

Performance for the traditional BOW approach with bigrams
X shape:  (2520, 3000)

In [11]:
X_train, X_test, y_train, y_test = train_test_split(X,y, test_size = 0.4, random_state = 42)
X_valid, X_test, y_valid, y_test = train_test_split(X_test,y_test, test_size=0.5, random_state = 42) # 10% test, 10% validation

In [12]:
clf = LinearSVC()
clf.fit(X_train,y_train)
validation_score =clf.score(X_valid, y_valid)
print(f'validation score of traind model: {validation_score}')

validation score of traind model: 0.9642857142857143

In [13]:
pred = clf.predict(X_test)
print(classification_report(y_test, pred))
print(confusion_matrix(y_test, pred))

              precision    recall  f1-score   support

     ekonomi       0.86      0.85      0.85        79
 kultursanat       0.97      0.96      0.96        92
      saglik       0.91      0.92      0.92        77
     siyaset       0.92      0.91      0.92        79
        spor       0.96      0.96      0.96        98
   teknoloji       0.86      0.89      0.87        79

    accuracy                           0.92       504
   macro avg       0.91      0.91      0.91       504
weighted avg       0.92      0.92      0.92       504

[[67  2  2  2  1  5]
 [ 0 88  1  2  1  0]
 [ 2  0 71  0  0  4]
 [ 3  1  1 72  2  0]
 [ 1  0  0  1 94  2]
 [ 5  0  3  1  0 70]]

In [14]:
clf.fit(X,y)

LinearSVC(C=1.0, class_weight=None, dual=True, fit_intercept=True,
          intercept_scaling=1, loss='squared_hinge', max_iter=1000,
          multi_class='ovr', penalty='l2', random_state=None, tol=0.0001,
          verbose=0)

In [15]:
test = pd.read_csv('test.csv')

In [16]:
test.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1081 entries, 0 to 1080
Data columns (total 1 columns):
0    1081 non-null object
dtypes: object(1)
memory usage: 8.5+ KB

In [17]:
test.describe()

                                                        0
count                                                1081
unique                                               1060
top     Bağdat Caddesi'nde iPhone 5 kuyruğu  Türkiye'y...
freq                                                    2

In [18]:
test.head()

                                                   0
0  31. Uluslararası İstanbul Kitap Fuarı sona erd...
1  ﻿Chrome ve Firefox'un                   popüle...
2  ﻿                                      \tOkull...
3  ﻿   \t\t\t\t\t\t\t  \t\t\t\t\t\t\t  \t\t\t\t\t...
4  ﻿ \t\t\t\t\t\t\t  \t\t\t\t\t\t\t  \t\t\t\t\t\t...

In [19]:
test['0'] = test['0'].str.replace("\t","")

In [20]:
test.head()

                                                   0
0  31. Uluslararası İstanbul Kitap Fuarı sona erd...
1  ﻿Chrome ve Firefox'un                   popüle...
2  ﻿                                      Okullar...
3  ﻿          1 ay boyunca sofraların sultanı ola...
4  ﻿                                "Uyku döngüsü...

# HERE WAS THE MISTAKE IN THE SECOND LINE
<code> test_data = vectorizer.fir_transform(test['0']) # we wrote this</code>

In [21]:
print("Performance for the traditional BOW approach with bigrams")
test_data = vectorizer.transform(test['0']) # just transform
print("test_data shape: ",test_data.shape)

Performance for the traditional BOW approach with bigrams
test_data shape:  (1081, 3000)

In [22]:
pred_test = clf.predict(test_data)

In [23]:
pred_test

array(['kultursanat', 'teknoloji', 'saglik', ..., 'siyaset', 'teknoloji',
       'spor'], dtype=object)

In [24]:
pd.DataFrame(pred_test,columns=['category']).to_csv("prediction.csv")